@model CRUDwithoutEF.Models.Employee

@{
    ViewData["Title"] = Model.EMPLOYEE_ID==0?"Add Employee":"Update Employee";
}

<html>
<head>
    <style>
        .navbar {
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
            padding: 20px;
        }



        * {
            background-color: #FBE9DF;
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
        }

        body {
            background-color: #FBE9DF;
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
        }


    
    </style>


</head>



<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EMPLOYEE_ID" />
            <div class="form-group">
                <label asp-for="EMPLOYEE_FIRST_NAME" class="control-label"></label>
                <input asp-for="EMPLOYEE_FIRST_NAME" class="form-control" />
                <span asp-validation-for="EMPLOYEE_FIRST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMPLOYEE_LAST_NAME" class="control-label"></label>
                <input asp-for="EMPLOYEE_LAST_NAME" class="form-control" />
                <span asp-validation-for="EMPLOYEE_LAST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGE" class="control-label"></label>
                <input asp-for="AGE" class="form-control" />
                <span asp-validation-for="AGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POSITION" class="control-label"></label>
                <input asp-for="POSITION" class="form-control" />
                <span asp-validation-for="POSITION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SALARY" class="control-label"></label>
                <input asp-for="SALARY" class="form-control" />
                <span asp-validation-for="SALARY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</html>