@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        .navbar {
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
            padding: 20px;
        }



        * {
            background-color: #FBE9DF;
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
        }

        body {
            background-color: #FBE9DF;
            margin: inherit;
            padding-left: initial;
            box-sizing: border-box;
        }


        .text-center {
            background: #FBE9DF;
            width: auto;
            height: auto;
            position: center;
            margin: auto;
            padding: inherit;
        }
    </style>


</head>
<body>

    <header>



        <div class="card-body">

            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
                @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
            </div>


            <span> </span>
        </div>
    </header>
</body>
</html>